*.pyc
*.log
*.lot
*.blg
*.out
*user_manual.synctex.gz
*.log
*.toc
.eggs/*
dist/*
myptv.egg-info/*
build/*
*.aux
*.bbl
*.fdb_latexmk
*.aux
*.fls
user_manual/user_manual.pdf
.vscode/settings.json
*.DS_Store
._with_MyPTV
example/._*
